<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="templates/out.css" type="text/css" />
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script>
        window.s3Proxy = {
          functions: {
            ready: function(fn) {
              if (document.readyState != 'loading'){
                fn();
              } else {
                document.addEventListener('DOMContentLoaded', fn);
              }
            },
            postApi: function(path, data, successFunc, errFunc){
              var request = new XMLHttpRequest();
              request.open('POST', window.location.origin + (path.startsWith("/") ? path : "/" + path), true);
              request.setRequestHeader('Content-Type', 'application/json');
              request.onload = function() {
                let statusReason = "";
                try {
                  let jBody = JSON.parse(this.responseText);
                  if (jBody.reason) {
                    statusReason = ` - ${jBody.reason}`;
                  }
                } catch {}
                if (this.status >= 200 && this.status < 400) {
                  if (successFunc){
                    successFunc(this.responseText);
                  };
                } else {
                  window.alert(`tracr.functions.postApi(${path}): Failed POST request to ${path} with status of ${this.status}${statusReason}`);
                  if (errFunc) {
                    errFunc();
                  };
                };
              };
              request.send(JSON.stringify(data));
            },
            fetchStyles: async function(){
              fetch("/templates/out.css")
              .then(response => response.text())
              .then((data) => {
                let ele = document.createElement("style");
                ele.innerHTML = data;
                document.body.appendChild(ele);
              });
            },
            setPrefix: function(prefix){
              document.getElementById('searchPrefix').value = prefix;
            },
            reset: function(){
              document.getElementById('searchPrefix').value = "";
              document.getElementById('searchDelimiter').value = "/";
              document.getElementById('searchToken').value = "";
              window.s3Proxy.functions.getObjects();
            }
          },
          parsedData: {},
          signals: {}
        };
      </script>
    </head>

    <body class="text-gray-700">
      <div class="mx-auto px-4 min-h-screen max-w-screen-xl flex-col">
        <div>
          <div class="pt-8 text-2xl">
            S3 Proxy
          </div>
          <div class="pb-6 text-sm">
            {{ bucket_name }} - {{ region }} - {{ account_number }}
          </div>
        </div>
        <div id="searchElements" class="flex mb-4">

          <div class="w-1/3 m-1 relative">
            <label for="prefix" class="block text-sm font-medium text-gray-700">Prefix</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <input type="text" name="prefix" id="searchPrefix" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5 cursor-pointer hover:font-extrabold h-1/2" onclick="document.getElementById('searchPrefix').value = '';">
              <div class="inline-flex items-center rounded px-2 text-sm font-sans font-bold text-gray-400"> X </div>
            </div>
          </div>

          <div class="w-1/3  m-1 relative">
            <label for="delimiter" class="block text-sm font-medium text-gray-700">Delimiter</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <input type="text" name="delimiter" id="searchDelimiter" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" value="/">
            </div>
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5 cursor-pointer hover:font-extrabold h-1/2" onclick="document.getElementById('searchDelimiter').value = '';">
              <div class="inline-flex items-center rounded px-2 text-sm font-sans font-bold text-gray-400"> X </div>
            </div>

          </div>

          <div class="w-1/3  m-1 relative">
            <label for="token" class="block text-sm font-medium text-gray-700">Token</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <input type="text" name="token" id="searchToken" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5 cursor-pointer hover:font-extrabold h-1/2" onclick="document.getElementById('searchToken').value = '';">
              <div class="inline-flex items-center rounded px-2 text-sm font-sans font-bold text-gray-400"> X </div>
            </div>
          </div>

        </div>
        <div class="flex justify-center items-center mb-4">
          <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-lightBlue hover:bg-activeBlue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="color:white; transition: background-color 0.5s ease;" onclick="window.s3Proxy.functions.getObjects();">Filter</button>
          <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-lightBlue hover:bg-activeBlue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" style="color:white; transition: background-color 0.5s ease;" onclick="window.s3Proxy.functions.reset();">Reset</button>
        </div>
        <div id="objectTable">
        </div>
      </div>
    </body>

    <script src="/templates/out.js"></script>
    <script>
      window.s3Proxy.functions.fetchStyles();
    </script>
</html>

