<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="templates/out.css" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
          window.s3Proxy = {
            functions: {
              ready: function(fn) {
                if (document.readyState != 'loading'){
                  fn();
                } else {
                  document.addEventListener('DOMContentLoaded', fn);
                }
              },
              postApi: function(path, data, successFunc, errFunc){
                var request = new XMLHttpRequest();
                request.open('POST', window.location.origin + (path.startsWith("/") ? path : "/" + path), true);
                request.setRequestHeader('Content-Type', 'application/json');
                request.onload = function() {
                  let statusReason = "";
                  try {
                    let jBody = JSON.parse(this.responseText);
                    if (jBody.reason) {
                      statusReason = ` - ${jBody.reason}`;
                    }
                  } catch {}
                  if (this.status >= 200 && this.status < 400) {
                    if (successFunc){
                      successFunc(this.responseText);
                    };
                  } else {
                    window.alert(`tracr.functions.postApi(${path}): Failed POST request to ${path} with status of ${this.status}${statusReason}`);
                    if (errFunc) {
                      errFunc();
                    };
                  };
                };
                request.send(JSON.stringify(data));
              },
              fetchStyles: async function(){
                fetch("/templates/out.css")
                .then(response => response.text())
                .then((data) => {
                  let ele = document.createElement("style");
                  ele.innerHTML = data;
                  document.body.appendChild(ele);
                });
              }
            },
            parsedData: {},
            signals: {}
          };
        </script>
    </head>

    <body class="text-gray-700">
      <div class="mx-auto px-4 min-h-screen max-w-screen-xl flex-col divide-y divide-gray">
        <div>
          <div class="pt-8 text-2xl">
            S3 Proxy
          </div>
          <div class="pb-6 text-sm">
            {{ bucket_name }} - {{ region }} - {{ account_number }}
          </div>
        </div>
        <div id="objectTable">
        </div>
      </div>
    </body>

    <script src="/templates/out.js"></script>
    <script>
      window.s3Proxy.functions.fetchStyles();
    </script>
</html>
